<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Reservation</title>
 
</head>
<body>
  <h1>Flight Reservation</h1>
  <form action="/reservations" method="post">
    <label for="cin">User cin:</label>
    <input type="text" id="cin" name="cin" required>

    <label for="volNumber">Flight number:</label>
    <input type="text" id="volNumber" name="volNumber" required>

    <button type="submit">Make Reservation</button>
  </form>

  
</body>
</html>